/* styling for context menu items */

.x-menu-item-text {
	color: black;
}

.x-table-icon {
    background-image:url(../../../gis_icons/contextmenu/table.png);
}

.x-zoom-icon {
    background-image:url(../../../gis_icons/contextmenu/zoom.png);
}

.x-export-icon {
    background-image:url(../../../gis_icons/contextmenu/export.png);
}